<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{site.url}}">K2D2</a>
                <a class="navbar-brand" href="{{base}}/blogs.html">Blogs</a>
                <a class="navbar-brand" href="{{base}}/dokter.html">Doctors</a>   
                <a class="navbar-brand" href="{{base}}/perusahaan.html">Perusahaan</a>                                                
                {% for page in site.pages %}
                  {% if page.show_on_menu %}
                    <a href="{{ page.url }}">{{ page.title }}</a>
                  {% endif %}
                {% endfor %}
            </div>
        </div>
    </nav>
</header>
