<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <link href="{{base}}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{base}}/assets/css/home.css" rel="stylesheet">

    <script src="{{base}}/assets/js/jquery.min.js"></script>    

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
